.button.is-rounded {
  border-radius: 290486px;
  padding-left: 1em;
  padding-right: 1em;
  border: 2px solid white;
}
.button {
  background-color: #fff;
  border-color: #dbdbdb;
  border-width: 1px;
  color: #363636;
  cursor: pointer;
  justify-content: center;
  padding: calc(0.375em - 1px) 0.75em;
  text-align: center;
  white-space: nowrap;
}

.post-social {
  display: flex;
}

.post-social .button {
  margin: 0.5rem 0.25rem;
}
.post-social .button.facebook {
  color: #3b5998;
  border-color: #3b5998;
}
.post-social .button.facebook:hover {
  background-color: #3b5998;
  border-color: #3b5998;
  color: #fff;
}
.post-social .button.twitter {
  color: #1da1f2;
  border-color: #1da1f2;
}
.post-social .button.twitter:hover {
  background-color: #1da1f2;
  border-color: #1da1f2;
  color: #fff;
}
.post-social .button.googleplus {
  color: #dd4b39;
  border-color: #dd4b39;
}
.post-social .button.googleplus:hover {
  background-color: #dd4b39;
  border-color: #dd4b39;
  color: #fff;
}
.post-social .button.linkedin {
  color: #0077b5;
  border-color: #0077b5;
}
.post-social .button.linkedin:hover {
  background-color: #0077b5;
  border-color: #0077b5;
  color: #fff;
}
.post-social .button.reddit {
  color: #ff4500;
  border-color: #ff4500;
}
.post-social .button.reddit:hover {
  background-color: #ff4500;
  border-color: #ff4500;
  color: #fff;
}
.post-social .button.whatsapp {
  color: #128c7e;
  border-color: #128c7e;
}
.post-social .button.whatsapp:hover {
  background-color: #128c7e;
  border-color: #128c7e;
  color: #fff;
}
